* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: oklch(0.85 0.02 250);
  border-radius: 8px;
}

button {
  font: inherit;
}
